/* RESET */
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  max-width: 1350px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  background-color: #e2eee1;
}

@media (max-width: 800px) {
  .seasom_img {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
}

@media (min-width: 800px) {
  .seasom_img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}
