/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* max-width: 1350px; */
  /* margin: 0 auto; */
padding: 0 3em;

}

/* index.html */

/* tools.html */

.tools {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2em;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.tools {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.tools img {
  width: 46%;
  object-fit: cover;
}

.tools h2 {
  padding-top: 3%;
}

.tool3 img {
  width: 20%;
}
.tool4 img {
  width: 20%;
}

.tools0 h1 {
  margin-top: 5rem;
}

.tools0 p {
  margin-top: 1%;
}
/* forage.html */

/* biotop.html */
.plants-grid main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

.plants-grid main h1 {
  grid-row: 1;
  grid-column: 1/-1;
  padding-top: 4rem;
}
.plants-grid main h2 {
  grid-row-start: 2;
  grid-column: 1/-1;
}

.plants-grid .bioptope-text {
  grid-column: 1/-1;
}

.plants-grid img {
  width: 80%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}

.plants-grid article {
  padding: 1rem;
  padding-left: 8rem;
}

.in-season {
  grid-column: -1/1;
}
.out-of-season {
  grid-column: -1/1;
}

/* plants.html */

/* plant_info.html */
@media screen and (max-width: 800px) {
  .plant_img {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .plant-image {
    width: auto;
    border-radius: 100%;
  }

  .plant_tekst {
    padding: 2%;
  }

  .season-info {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 800px) {
  .plant_info {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 5px;
    padding-bottom: 15px;
  }

  .plant_img {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .plant-image {
    width: auto;
    border-radius: 100%;
  }

  .plant_tekst {
    padding: 5%;
  }

  .season-info {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

/* user.html */
.userMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
}
.userSectionLeft {
  text-align: center;
  margin-bottom: 20px;
}
.headline_getStarted {
  margin-bottom: 10%;
}
.footerUser {
  padding-top: 25%;
}

/* sign_up.html */
.signUp_wreapper1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.headline_signUp {
  padding-top: 5%;
  padding-bottom: 5%;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}
.line_signUp {
  border-bottom: 2px solid #513e36;
  width: 95%;
  display: block;
}
form {
  grid-column: 1;
  grid-row: 2 / span 4;
  z-index: 2;
}
label {
  padding-bottom: 2%;
  padding-top: 5%;
}
.mainSignUp {
  flex-direction: column;
}
.leftSection,
.rightSection {
  width: 100%;
}
.plant_img_signUp_wreapper1,
.plant_user_img {
  display: none;
}
.mainSignIn,
.mainSignUp {
  padding-bottom: 50px;
  padding-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

@media screen and (min-width: 1024px) {
  .userMain,
  .mainSignUp,
  .mainSignIn {
    display: flex;
    justify-content: space-between;
  }

  .userMain {
    padding-top: 15%;
  }
  .footerUser {
    padding-top: 0%;
  }
  .userSectionLeft {
    padding-top: 2%;
    width: 50%;
    background-color: #fdfaf4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }
  .userSectionRight {
    padding-top: 2%;
    width: 50%;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
  }
  .headline_getStarted {
    margin-bottom: 10%;
  }

  /* sign_up.html */
  .headline_signUp {
    padding-bottom: 2%;
    padding-top: 0%;
  }
  .line_signUp {
    border-bottom: 2px solid #513e36;
    width: 70%;
    display: block;
  }
  .p_txtSignUp {
    text-align: left;
    margin-right: 13%;
    margin-left: 15%;
  }
  .mainSignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh; /* Gør at mainSignUp fylder hele skærmens højde */
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .headerSignUp {
    padding: 0px;
  }
  .headerRight,
  .headerLeft {
    padding: 20px;
  }

  /* sign_in.html */
  .mainSignIn {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 0%;
    margin-right: 0%;
  }

  .leftSection_signIn {
    padding-top: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rightSection_signIn {
    width: 50%;
    padding: 20px;
    /* background-color: #fdfaf4; */
    box-sizing: border-box; /* Include padding in width calculation */
    padding-top: 5%;
    padding-bottom: 4%;
  }
  .plant_img_signUp_wreapper1 {
    display: contents;
  }
  .plant_img_signUp_wreapper1 img {
    width: 75%;
  }
}
