header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e2eee1;
}

.logo img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #f00;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  padding: 5em 0 0;
  margin-top: auto;
}

.sm-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sm-icons h4 {
  grid-row: 1;
  grid-column: 1/-1;
}

.sm-icons div {
  grid-column: 1/-1;
  display: flex;
  flex-direction: in;
  justify-content: center;
  gap: 15px;
}

.footer2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #e2eee1;
  text-align: center;
}

.footer1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e2eee1;
}
#instagram_logo {
  background-image: url(/img/instagram.svg);
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  margin-top: -10px;
}
#facebook_logo {
  background-image: url(/img/facebook.svg);
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  margin-top: -10px;
}

#formular_logo {
  background-image: url(/Img/profile.png);
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 35px;
  margin-top: -12px;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #e2eee1;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  #formular_logo {
    background-image: url(/Img/profile.png);
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #instagram_logo {
    width: 30px;
  }

  #facebook_logo {
    width: 30px;
  }
}
