header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e2eee1;
}
/* sign_in.html */
.headerRight {
  padding-top: 2%;
  width: 50%;
  padding: 0px;
  background-color: #fdfaf4;
  box-sizing: border-box; /* Include padding in width calculation */
  padding-top: 20px;
  padding-left: 185px;
}

/* user.html */
.headerLeftUser {
  padding-top: 0%;
  width: 50%;
  padding: 0px;
  background-color: #fdfaf4;
  box-sizing: border-box; /* Include padding in width calculation */
}
nav.active .menu {
  background-color: #fdfaf4;
}

/* sign_up.html */
.headerLeftSignUp {
  padding-top: 0%;
  width: 50%;
  padding: 0px;
  box-sizing: border-box; /* Include padding in width calculation */
}

@media screen and (max-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e2eee1;
  }
  /* sign_in.html */
  .headerRight {
    padding-top: 2%;
    width: 50%;
    padding: 0px;
    background-color: #e2eee1;
    box-sizing: border-box; /* Include padding in width calculation */
    padding-top: 0px;
    padding-left: 137px;
  }

  .logo img {
    padding-left: 0px;
  }

  /* user.html */
  .headerLeftUser {
    padding-top: 0%;
    width: 50%;
    padding: 0px;
    background-color: #e2eee1;
    box-sizing: border-box; /* Include padding in width calculation */
    padding-top: 0px;
    padding-left: 0px;
  }
  .headerRightUser {
    padding-right: 0px;
  }
  /* sign_up.html */
  .headerLeftSignUp {
    padding-top: 0%;
    width: 50%;
    padding: 0px;
    background-color: #e2eee1;
    box-sizing: border-box; /* Include padding in width calculation */
    padding-top: 0px;
    padding-left: 0px;
  }
  .headerRightSignUp {
    padding-right: 0px;
  }
}
