/* FONT FACE HEADER
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal; */

/* FONT FACE PARAGRAF
font-family: "Karla", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal; */

header {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

body {
  background-color: #e2eee1;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #513e36;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #513e36;
}

p {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 2px;
  color: #513e36;
}

/* index.html */
.index-map-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.index-map-container div:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/full-img.svg);
  background-size: cover;
}

.start-btn-container {
  aspect-ratio: 827.12/188.42;
  position: absolute;
  width: 40%;
  top: 60%;
  left: 30%;
}

.start-btn-container div:first-of-type {
  background-image: url(../img/startbtn.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  animation: floating 1s ease-in infinite alternate-reverse;
}
.start-btn-container:hover {
  scale: 1.1;
}

@keyframes floating {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
/* tools.html */

/* forage.html */

/* biotop.html */
h1 {
  text-transform: capitalize;
}

.hidden {
  display: none;
}

/* plants.html */

/* plant_info.html */
@media screen and (max-width: 850px) {
  .plant-image {
    width: 300px;
  }
}
@media screen and (min-width: 850px) {
  .plant-image {
    width: 450px;
  }
}
/* user.html */
.headline_animation {
  display: inline-block;
}
.headline_getStarted {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

#signUpButton,
#signInButton {
  width: 55%;
  background-color: #f27d52;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Karla", sans-serif;
  letter-spacing: 2px;
}
.plant_user_img img {
  width: 100%;
}
.headerUser,
.logoUser,
.userMain,
.footerUser {
  background-color: #fdfaf4;
}

/* sign_in.html */
.headline_signIn {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}
.line_user {
  border-bottom: 2px solid #513e36;
  width: 90%;
  display: block;
  padding-bottom: 5%;
}

/* sign_up.html */
.headline_signUp {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}
.p_txtSignUp {
  font-size: 1.5rem;
  padding-top: 2%;
}
.plant_img_signUp_wreapper1 img {
  width: 100%;
}
label {
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  letter-spacing: 2px;
}
input {
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  letter-spacing: 2px;
}
#fullName,
#username,
#email,
#password {
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  letter-spacing: 2px;
  padding-bottom: 2%;
  background-color: #fdfaf4;
  width: 100%;
  padding: 8px;
  margin: 15px 0;
  border: 1px solid #000; /* Tynd sort streg */
  border-radius: 4px; /* Runde hjørner */
  box-sizing: border-box; /* Sørg for at padding og border indgår i elementets totale bredde */
}

/* Style for submit button */
input[type="submit"] {
  width: 100%;
  background-color: #f27d52;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Change submit button color on hover */
input[type="submit"]:hover {
  background-color: #45a049;
}

.p_txtSignUp {
  text-align: left;
  margin-right: 0%;
  margin-left: 0%;
}
.p_txtSignIn {
  font-size: 1.5rem;
  padding-top: 2%;
}

@media screen and (min-width: 1025px) {
  /* user.html */
  .headline_getStarted {
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    border-right: 10px solid #f27d52;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(29), cursor 0.5s step-end infinite alternate;
  }
  /* blinking cursor */
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
  /* typing animation */
  @keyframes typing {
    from {
      width: 0;
    }
  }

  .background_plant_user_img_wrapper1 img {
    width: 100%;
  }
  #signInButton:hover {
    background-color: green;
    color: white; /* Ændrer tekstfarven til hvid for bedre synlighed */
  }

  /* Tilføj en grøn baggrundsfarve til SignUp-knappen, når musen hoverer over den */
  #signUpButton:hover {
    background-color: green;
    color: white; /* Ændrer tekstfarven til hvid for bedre synlighed */
  }

  /* sign_up.html  */
  .p_txtSignUp {
    text-align: center;
    margin-right: 13%;
    margin-left: 14%;
  }

  /* sign_in.html */

  .line_user {
    width: 70%;
  }

  .p_txtSignUp {
    text-align: left;
    margin-right: 13%;
    margin-left: 15%;
  }
}

footer h4 {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  text-align: center;
}
