/* FONT FACE HEADER
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal; */

/* FONT FACE PARAGRAF
font-family: "Karla", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal; */

header {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  padding: 10%;
}

p {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

ol {
  list-style-type: none;
  padding-left: 0;
}
